<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eliorcohen.com.tmdbapp"
    android:versionCode="37"
    android:versionName="1.0.0">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <permission
        android:name="eliorcohen.com.tmdbapp.READ_MOVIES"
        android:protectionLevel="normal" />
    <permission
        android:name="eliorcohen.com.tmdbapp.WRITE_MOVIES"
        android:protectionLevel="normal" />

    <application
        android:name=".OthersPackage.ConApp"
        android:allowBackup="true"
        android:icon="@drawable/movie_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movie_icon"
        android:supportsRtl="false"
        android:theme="@style/MyAppTheme">
        <activity android:name=".PagesPackage.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <provider
            android:name=".DataAppPackage.MovieContentProvider"
            android:authorities="eliorcohen.com.tmdbapp.MovieContentProvider"
            android:exported="true"
            android:readPermission="eliorcohen.com.tmdbapp.READ_MOVIES"
            android:writePermission="eliorcohen.com.tmdbapp.WRITE_MOVIES" />

        <activity android:name=".PagesPackage.EditMovie" />
        <activity android:name=".PagesPackage.AddMovie" />
        <activity android:name=".PagesPackage.DeleteAllData" />
        <activity android:name=".PagesPackage.AddMovieFromInternet" />
        <activity android:name=".PagesPackage.DeleteMovie" />
        <activity android:name=".PagesPackage.DataOfMovie" />
        <activity android:name=".PagesPackage.Credits" />
        <activity android:name=".PagesPackage.FingerPrint" />
        <activity android:name=".PagesPackage.MainActivity" />
        <activity android:name=".PagesPackage.RegisterActivity" />
        <activity android:name=".PagesPackage.UsersListActivity" />
        <activity android:name=".PagesPackage.SearchMovieFromInternet" />
        <activity android:name=".PagesPackage.SplashActivity" />

        <service android:name=".OthersPackage.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>